<div class="card">
    <div class="card-body">
        <h2>Cart</h2>
        {{#if cart.items}}
        <form action="/cart/update" method="POST">
        <table>
            <thead>
                <tr>
                    <th></th> {{!-- Item Image --}}
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th></th> {{!-- Remove Button --}}
                </tr>
            </thead>
            <tbody>
                
                {{#each cart.items as |cartItem|}}
                <tr>
                    <td></td>
                    <td>{{cartItem.name}}</td>
                    <td>
                        <input type="text" class="form-control" value="{{cartItem.qty}}" name="qty[]">
                        <input type="hidden" name="productID[]" value="{{cartItem._id}}">
                    </td>
                    <td>{{cartItem.formattedPrice}}(each) </td>
                    <td><a href="/cart/remove/{{cartItem._id}}/{{../nonce}}">{{nonce}}<i class="fal fa-times"></i></a></td>
                </tr>
                
                {{/each}}
                
            </tbody>
        </table>
            <input type="hidden" name="nonce" value="{{nonce}}">
            <a href="/cart/empty/{{nonce}}" class="btn btn-danger">Empty Cart</a>
            <button type="submit" class="btn btn-primary">Update Cart</button>
        </form>
        <div>{{cart.formattedTotals}}</div>
        {{else}}
        <h4>No items have been added to your cart!</h4>
        {{/if}}
    </div>
</div>